<h4>Image Uploader</h4>


<div>
<form action="/images/new" method="POST" enctype="multipart/form-data">
    <input type="file" name="inputFile">
    <input type="submit" class="btn btn-primary">
</form>
</div>