<h5 class="center-align header">A PLACE FOR IDEAS</h5>

<div class="right">
<div class="row">
  <div class="col s12">
    <p class="card-panel">
      This is an organizational tool for programming mentors.   
    </p>
    <p class="card-panel">
     Topics can be created. 
    </p>
    <p class="card-panel">
      Notes, links, and images can be associated with individual topics.  
    </p>
    <p class="card-panel">
      coderCoaches can keep their ideas in one central place, and then refer to their journal as they are working. 
    </p>
    <p class="card-panel">
      Click on the profile link in the navigation bar to begin.
    </p>
  </div>
</div>
</div>
