<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <!-- <div> -->
      <header class="container">
        <nav>
          <% if (currentUser) { %>
            <a href="/auth/logout">Logout</a>
            <a href="/profile">Profile</a>
            <a href="/">Home</a>
          </nav>
          <%}else {%>
          <nav>
              <a href="/auth/signup">Signup</a>
              <a href="/auth/login">Login</a>
              <%}%>
            </nav>
          </header>
          <% include partials/alerts %>
      
        <!-- </div> -->
        
        <%- body %>
  </body>
  
  </html>
  