<h4 class="center-align blue-text text-darken-3">Hello, <%= currentUser.name %></h4>

<div class="container valign-wrapper">
  <p class="block"><a href="/topics">Topics</a></p>
  <p class="block"><a href="/links">Links</a></p>
  <p class=block><a href="/notes">Notes</a></p>
  <p class=block><a href="/notes">Images</a></p>
</div>

<div class="container valign-wrapper">
  <p class="block"><a href="/topics/new">New Topic</a></p>
  <p class="block"><a href="/links/new">New Link</a></p>
  <p class="block"><a href="/notes/new">New Note</a></p>
  <p class="block"><a href="/notes/new">New Image</a></p>
</div>
