<h1>Coach = <%= currentUser.name %> </h1>


<div class="test1">
<a href="/topics">Topics</a>
<a href="/links">Links</a>
<a href="/notes">Notes</a>
</div>

<div class="test2">
<a href="/topics/new">New Topic</a>
<a href="/links/new">New Link</a>
<a href="/notes/new">New Note</a>
</div>