<h4 class="center-align blue-text text-darken-3">Hello, <%= currentUser.name %></h4>

<div class="container">
  <p><a href="/topics">Topics</a></p>
  <p><a href="/links">Links</a></p>
  <p><a href="/notes">Notes</a></p>
</div>

<div class="container">
  <p><a href="/topics/new">New Topic</a></p>
  <p><a href="/links/new">New Link</a></p>
  <p><a href="/notes/new">New Note</a></p>
</div>
