<h1 class="center-align">Coach = <%= currentUser.name %></h1>

<div class="test1">
  <p><a href="/topics">Topics</a></p>
  <p><a href="/links">Links</a></p>
  <p><a href="/notes">Notes</a></p>
</div>

<div class="test2">
  <p><a href="/topics/new">New Topic</a></p>
  <p><a href="/links/new">New Link</a></p>
  <p><a href="/notes/new">New Note</a></p>
</div>
