


 * {
   box-sizing: border-box;
  }
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    position: relative;
    overflow: auto;
  }

  p {
    font-size: 24px;
  }

  .main-container {
    /* min-height: 100vh; will cover the 100% of viewport */
    /* overflow: hidden; */
    display: block;
    /* position: relative; */
    padding-bottom: 100px; /* height of your footer */
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:2px;
  }
  
  .alert {
    margin-top: 24px;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em black;
    font-size: 16px;
    color: whitesmoke;
    font-weight: bold;
    height: 48px;
    width: 40%;
    
  }
  
  

  .motto {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  
label {
  font-size: 24px;
}
