body {
  margin: 0 auto;
}

.alert {
  margin: 0 auto;
  padding-top: 24px;
  border-radius: 10px;
  box-shadow: 0.1em 0.1em black;
  font-size: 24px;
  color: red;
  font-weight: bold;
  height: 56px;
  width: 50%;
  text-align:center;
}

.red {
  background-color: blue;
}

.black {
  background-color: black;
}

a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 16px;
    color: red;
    text-decoration: none;
    
    
}

h1 {
  text-align: center;
  margin-top: 100px;
}

 nav {
  padding-top: 24px;
} 

 .container {
  background-color: black;
  height: 100px;
  margin-bottom: 48px;
} 


.black {
  color: black;
}