


 * {
   box-sizing: border-box;
  }
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    position: relative;
    overflow: auto;
  }

  p {
    font-size: 26px;
  }

  .main-container {
    /* min-height: 100vh; will cover the 100% of viewport */
    /* overflow: hidden; */
    display: block;
    /* position: relative; */
    padding-bottom: 100px; /* height of your footer */
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:2px;
  }
  
  .alert {
    border-radius: 10px;
    box-shadow: 0.1em 0.1em black;
    font-size: 24px;
    color: whitesmoke;
    font-weight: bold;
    height: 56px;
    width: 50%;
    text-align:center;
  }
  
  .red {
    background-color: blue;
  }
  
  .green {
    background-color: green;
  }

  .motto {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  

