<h1>Your Saved Links List:</h1>



<% links.forEach(function(link) { %>
    <div class="center-align">
        <p>
            <a href="<%= link.href %>" target="_blank"><%= link.href %></a>
        </p>
    </div>
    <form method="POST" action="/links/<%= link.id %>/?_method=DELETE">
        <input class="btn" type="submit" value="Delete">
    </form>
<% }) %>

<hr>

<a href="/profile">Back to Profile</a>