<h1>Paste a New Link Here:</h1>

<div class="form">
<form action="/links/new" method="POST">
    <label for="links">Paste Into Box:</label>
    <input type="text" id="href" name="href">
    <input type="submit" class="btn">
</form>
</div>