<h3>Edit Your Note Here:</h3>

<div class="form">
  <form action="/notes/<%= note.id %>/edit/?_method=PUT" method="POST">
    <textarea id="textarea1" class="materialize-textarea" name="content" id="content" cols="50" rows="20"><%= note.content %></textarea>
<div>
    <input type="submit" class="btn" />
  </div>
  </form>
</div>
