<h1>Your Saved Notes</h1>

<% notes.forEach(function(note) { %>
    <div>
        <h1>
            <a href="/notes/<%= note.id %>/edit">
             <%= note.content %> 
            </a>
        </h1>
    </div>
    <form method="POST" action="/notes/<%= note.id %>/?_method=DELETE">
        <input type="submit" value="Delete">
    </form>
    
<% }) %>

<hr>

<a href="/profile">Back to Profile</a>