<h1>Your Saved Topics</h1>

<% topics.forEach(function(topic) { %>
    <div>
        <h3>
            <a href="/topics/<%= topic.id %>">
             <%= topic.name %> 
            </a>
        </h3>
    </div>
    
<% }) %>

<hr>

<p><a href="/profile">Back to Profile</a></p>