<h1>Your Saved Topics</h1>

<% topics.forEach(function(topic) { %>
    <div>
        <h1>
            <a href="/topics/<%= topic.id %>">
             <%= topic.name %> 
            </a>
        </h1>
    </div>
    
<% }) %>

<hr>

<a href="/profile">Back to Profile</a>