<h3 class="container">Create A New Topic:</h3>

<div class="form container">
<form action="/topics/new" method="POST">
    <label for="topic">Topic Name</label>
    <input type="text" id="name" name="name">
    <div class="">
    <input type="submit" class="btn">
</div>
</form>
</div>